/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    margin-bottom: 2rem;
}

section {
    padding: 2rem 0;
}

h1, h2 {
    margin-bottom: 1rem;
}

.skill-box {
    padding: 20px;
    margin: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-box i {
    color: #333;
    margin-bottom: 10px;
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

footer {
    width: 100%;
    bottom: 0;
    padding: 1rem 0;
    position: relative;
}

section#home {
    background: #333;
    color: #fff;
    text-align: center;
    height: 100vh;
}

section#home h1 {
    font-size: 3rem;
}

section#home p {
    font-size: 1.5rem;
}
